* {box-sizing: border-box;}

  .tobo{
      width: 100%;
      height: 188px;
      background-color: #285CAB;
  }
.hello{    
    text-align: center;
    padding-top: 35%;
    font-size: 50px;
    color: white;
}
.wellcome{    
    text-align: center;
    font-size: 20px;
    color: white;
}

body{
    margin:0;
    padding: 0;    
}
.preload{
    width: 100%;
    height: 100%;
    background: red;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.loader-frame{
    width: 250px;
    height: 250px;
    margin: auto;
    margin-top: 20%;
    position: relative;
}
.circle{
  position: absolute;
  height: 250px;
  width: 250px;
  background-color: white 0%;
  border: 1px solid rgb(70, 70, 70);
  border-radius: 50%;
  display: inline-block;
}
.loader1{
    position: absolute;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    border-top: 5px solid rgb(70, 70, 70);
    border-bottom: 5px solid rgb(80, 80, 80);
    animation: clockwisespin 5s linear 3;
}
@keyframes clockwisespin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
@keyframes fadeout{
    from{opacity: 1;}
    to{opacity: 0;}
}
@keyframes fadein{
    from{opacity: 0;}
    to{opacity: 1;}
}
.bottom-container,
.top-container {
  width: 50vw;
  height: 35vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 1vh;
  left: 30vw;
  padding: 1vw;
  font-size: 5vw;
  font-weight: bold;   
}
.bottom-container {
  color: white ;
  opacity: 0;
}
.top-container {
  background-color: white;
  color: red;
  clip-path: circle(17% at 85% 50%);
  animation: circleMove 20s ease-in-out infinite;
}
@keyframes circleMove {
  0%, 100% {
    clip-path: circle(13% at 85% 50%);
  }
  50% {
    clip-path: circle(13% at 15% 50%);
  }
}
.band{
    width: 100%;
               display: flex;
    align-items: center;
    justify-content: center;
   }
.band img{
    width: 80%;
     align-items: center;    
}

.wrapper{   
display: flex;
justify-content: center;
align-items: center;
min-height: 70vh;
background-image: linear-gradient(#232311,#232311);
}
.card{
position: relative;
background: #fff;
width: 300px;
height: 400px;
margin: 0 auto;
}
.card .content{
width: 300px;
padding: 30px;
box-sizing: border-box;
font-weight: bold;
}
.card .sliderText{
position: relative;
width: 100%;
height: 150px;
display: flex;
justify-content: center;
align-items: center;
background: #000;
}
.card .sliderText h3{
color: #fff;
font-size: 2em;
}
.swiper-container {
      width: 300px;
      height: 400px;
          }
.swiper-slide{
background-position: center;
      background-size: cover;
width: 300px;
}
.swiper-slide:nth-child(1) .sliderText{
background: #2196f3
}
.swiper-slide:nth-child(2) .sliderText{
background: #e91e63
}

.container{    
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.countdown{    
    display: flex;
        margin-bottom: 10px;   
}
.countdown div{
    position: relative;
width: 80px;
height: 80px;
line-height: 80px;
text-align: center;
border: 3px solid #454444;
background-color: #474646;
border-radius: 50px;
color: lawngreen;
margin: 0 9px;
font-size: 2em;
font-weight: 250;   
}
.countdown div:before{
    content: '';
position: absolute;
bottom: -17px;
left: 0;
width: 100%;
height: 25px;
color: #474646;

background-color: lawngreen;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}
.countdown #hour:before{
    content: 'ঘন্টা';
}
.countdown #minute:before{
    content: 'মিনিট';
}
.countdown #second:before{
    content: 'সেকেন্ড';
}
.toptobat{
    width: 100%;
    background-color: #285CAB;    
}
.proja{
    text-align: center;
}
#fontcss{
    margin-left: 10px;
}
.bih{
    text-align: justify;
    text-indent: 40px;
    margin-right: 10px;
     margin-left: 10px;
}

.danc {max-width: 499px;
padding-top: 1%;
        }
        .danc img{
            width: 100%;
        }
    .nibe{
        text-align: right;
        margin-right: 10px;
    }
    .swar{
        text-align: center;
    }
    .subh{
        text-align: center;
    }
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }
  footer p{
      text-align: center;
      padding: 10px;
        }  
  footer .call{
      width: 130px;
      height: 30px;
      border-radius: 45px;            
      }

     